@page "/MovieDetails/{Id:int}"
@inherits MovieDetailsBase
@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .hero-image {
            height: 400px;
            background-image: url(https://fourfriends.se/wp-content/uploads/2018/10/neva-masquerade-kitten-fourfriends.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: flex-start;
            text-align: left;
            color: #fff;
            padding: 20px;
            box-sizing: border-box;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
        }
    </style>
</head>

<body>
    @if (MovieDetails == null)
    {
        <h3 color="black">Loading movie....</h3>
    }
    else
    {
        <div class="hero-image">
            <div>
                <h1>@MovieDetails.MovieTitle</h1>
                <p>@MovieDetails.SpokenLanguage @MovieDetails.Subtitles @MovieDetails.MovieGenre |
                    @MovieDetails.ShowDurationHours tim @MovieDetails.ShowDurationMinutes min |
                    @MovieDetails.MovieAgeRestriction</p>
            </div>
        </div>
        <div class="columns-container">
            <div class="left-column">
                <div class="movie-description">
                    <p>Regissör: @MovieDetails.MovieDirector</p>
                    <p>Utgivningsår: @MovieDetails.MovieReleaseYear</p>
                </div>
            </div>
            <div class="middle-column">
                <div class="movie-plot">
                    <p>@MovieDetails.MovieDescription</p>
                </div>
            </div>
            <div class="right-column-2">
                <div class="right-2-item-1">
                    <h2>@MovieDetails.SalonName</h2>
                    <h3>@MovieDetails.ShowStartTime.ToString("d MMMM")</h3>
                    <h1>@MovieDetails.ShowStartTime.ToString("HH:mm")</h1>
                </div>
            </div>
            <div class="right-column">
                <h2>@MovieDetails.AvailableSeats kvar av @MovieDetails.SalonSeats</h2>
                <form @onsubmit="RedirectOnBooking" class="booking-form" action="/action_page.php">
                    <input type="email" id="email" name="email" placeholder="Din email..." @bind="userEmail" required>
                    <label for="seats">
                        <p>@ticketQty x @MovieDetails.PricePerTicket.ToString("0.00") kr| @(ticketQty *
                        MovieDetails.PricePerTicket) kr
                        </p>
                    </label>
                    <input type="number" id="seats" name="seats" @bind="ticketQty" min="1" max="8" required>
                    <input button type="submit" value="Boka">
                </form>
            </div>
        </div>
    }
</body>

</html>

@code {
    public string userEmail;
    public int ticketQty;

    private async void RedirectOnBooking()
    {
        if (@MovieDetails.AvailableSeats < ticketQty)
        {
            NavigationManager.NavigateTo($"/404", true);
        }
        else
        {
            var booking = new CreateBookingDto
                {
                    ShowId = @MovieDetails.ShowId,
                    AmountSeat = ticketQty,
                    UserEmail = userEmail,
                };

            var code = BookingCode();
            booking.BookingCode = code;

            await AddBooking_Click(booking);

            NavigationManager.NavigateTo($"/bookingconfirmation/{code}", true);
        }
    }

    private string BookingCode()
    {
        string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
        Random random = new Random();
        char[] result = new char[6];

        for (int i = 0; i < 6; i++)
        {
            result[i] = chars[random.Next(chars.Length)];
        }

        return new string(result);
    }


}




